<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div>
  <p>
    Su reserva con número
    <b th:text="${id}"></b>
    para el centro scout
    <b th:text="${center}"></b>
    ha sido aceptada.
  </p>
  <p th:if="${statusObservation != null}">
    Se han incluido las siguientes observaciones: <span th:text="${statusObservation}"></span>
  </p>
  <p>
    El precio que debe abonar para la reserva es de:
    <span th:text="${#numbers.formatDecimal(price, 0, 'POINT', 2, 'COMMA')}"></span>€.
  </p>
  <p>
    Puede consultar las normas del lugar y la cuenta a la que tiene que hacer el ingreso en el PDF adjunto. Para
    poder continuar con el proceso de reserva, debe iniciar sesión en
    <a href="https://105bentaya.org">www.105bentaya.org</a>
    con su usuario
    <b th:text="${contactMail}"></b>
    en el apartado
    <b>'Mis Reservas'</b>
    y subir los documentos que se solicitan.
    <br>
    Si no recuerda la contraseña del usuario, puede restablecerla al
    intentar iniciar sesión haciendo click en
    <b>'Olvidé la contraseña'</b>.
    Ante cualquier duda, por favor envíe un correo a
    <a href="mailto:centroscouts@105bentaya.org">centroscouts@105bentaya.org</a>.
  </p>
  <div>
    <br>
    <span>Atentamente,<br></span>
    <span>El sistema de mensajería de Scouts 105 Bentaya</span>
  </div>
</div>
</html>