<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div>
  <p>
    La persona solicitante ha indicado que todos los documentos correspondientes a la reserva N.º
    <b th:text="${id}"></b>
    para el centro scout
    <b th:text="${center}"></b>
    han sido subidos con éxito.
  </p>
  <p>
    Entre en el
    <a th:href="'https://105bentaya.org/centros-scout/gestion/' + ${id}">gestor de reservas</a>
    para revisarlos y tomar las acciones correspondientes.
  </p>
  <div>
    <br>
    <span>Atentamente,<br></span>
    <span>El sistema de mensajería de Scouts 105 Bentaya</span>
  </div>
</div>
</html>