<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div>
  <p>
    Su reserva con número
    <b th:text="${id}"></b>
    para el centro scout
    <b th:text="${center}"></b>
    ha sido revisada. Los comentarios de la revisión son los siguientes:
  </p>
  <p th:text="${statusObservation}"></p>
  <p>
    Puede volver a realizar una reserva en
    <a href="https://105bentaya.org/centros-scout/reserva">www.105bentaya.org</a>
    con su usuario
    <b th:text="${contactMail}"></b>.
    <br>
    Si no recuerda la contraseña del usuario, puede restablecerla al
    intentar iniciar sesión haciendo click en
    <b>'Olvidé la contraseña'</b>.
  </p>
  <p>
    Ante cualquier duda, por favor envíe un correo a
    <a href="mailto:centroscouts@105bentaya.org">centroscouts@105bentaya.org</a>.
  </p>
  <div>
    <br>
    <span>Atentamente,<br></span>
    <span>El sistema de mensajería de Scouts 105 Bentaya</span>
  </div>
</div>
</html>