<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div>
  <p th:if="${newUser != null}">
    Se ha recibido con éxito la solicitud de reserva del centro scout '<span th:text="${center}"></span>'. Los datos
    de la reserva son los siguientes:
  </p>
  <p th:unless="${newUser != null}">
    Se ha realizado una nueva solicitud de reserva del centro scout '<span th:text="${center}"></span>'. Los datos
    de la reserva son los siguientes:
  </p>
  <h3>Datos de la asociación u organización solicitante</h3>
  <b>Nombre: </b><span th:text="${organization}"></span><br>
  <b>CIF: </b><span th:text="${cif}"></span><br>
  <b>Labor y uso de instalaciones: </b><span th:text="${use}"></span>
  <h3>Datos de la persona contacto</h3>
  <b>Nombre: </b><span th:text="${contactName}"></span><br>
  <b>Cargo o relación con la entidad: </b><span th:text="${contactRelationship}"></span><br>
  <b>Correo: </b><span th:text="${contactMail}"></span><br>
  <b>Teléfono: </b><span th:text="${contactPhone}"></span>
  <h3>Datos de la reserva</h3>
  <b>Número de reserva: </b><span th:text="${id}"></span><br>
  <b>Centro scout solicitado: </b><span th:text="${center}"></span><br>
  <b>Número de personas: </b><span th:text="${packs}"></span><br>
  <b>Fecha de entrada: </b><span th:text="${#temporals.format(startDate, 'dd/MM/yyyy')}"></span><br>
  <b>Fecha de salida: </b><span th:text="${#temporals.format(endDate, 'dd/MM/yyyy')}"></span><br>
  <div th:if="${exclusiveness}"><b>Solicita centro en exclusividad: </b><span>Sí</span><br></div>
  <b>Observaciones: </b><span th:text="${observations}"></span><br>
  <div th:if="${newUser != null}">
    <hr>
    <div th:if="${newUser}">
      Podrá seguir el estado de la reserva a través de nuestro sitio web
      (<a href="https://105bentaya.org">105bentaya.org</a>)
      accediendo con el siguiente usuario:
      <ul>
        <li>Nombre de usuario: <span th:text="${contactMail}"></span></li>
        <li>Contraseña: <span th:text="${password}"></span></li>
      </ul>
      Recomendamos encarecidamente cambiar la contraseña al entrar por primera vez.
    </div>
    <div th:unless="${newUser}">
      Podrá seguir el estado de la reserva a través de nuestro sitio web
      (<a href="https://105bentaya.org">105bentaya.org</a>)
      accediendo con el usuario <span th:text="${contactMail}"></span>.
      Si no recuerda la contraseña del usuario, puede restablecerla al intentar iniciar sesión haciendo click en
      <b>'Olvidé la contraseña'</b>.
    </div>
  </div>
  <div>
    <br>
    <span>Atentamente,<br></span>
    <span>El sistema de mensajería de Scouts 105 Bentaya</span>
  </div>
</div>
</html>